In [1]:
import pandas as pd
import seaborn as srn
import statistics  as sts

In [2]:
#importar dados
dataset = pd.read_csv("teste.csv", sep=";")
#visulizar
dataset.head()

,ID,ProductID,ClientID,Discount,UnitPrice,Quantity,StoreID,Date
0,80260d682079b6090c8285b398c50d97,002552c0663708129c0019cc97552d7d3,14001,"0,08","249,2",1,4,12/10/2018
1,3275736da1234f55d52bdf09d86b93bc,001b237c0e9bb435f2e54071129237e93,14001,"0,1","162,4",1,4,4/25/2019
2,f3513eec8f1434b5b7e04ddf3598df40,00066f42aeeb9f3007548bb9d3f33c381,14001,"0,1","194,6",1,4,7/17/2019
3,7180475b60fe6bbbde424d39704a1177,001b72dfd63e9833e8c02742adf472e33,14002,"0,1","201,6",2,1,04/10/2018
4,76600853a200fe87e141adae6b35674c,00210e41887c2a8ef9f791ebc780cc363,14002,"0,1",406,1,1,1/21/2019

In [3]:
#explorar dados categoricos
#estado
agrupado = dataset.groupby(['ProductID']).size()
agrupado

ProductID
00066f42aeeb9f3007548bb9d3f33c381    244
00066f42aeeb9f3007548bb9d3f33c382    206
00066f42aeeb9f3007548bb9d3f33c383    868
00066f42aeeb9f3007548bb9d3f33c384      1
00066f42aeeb9f3007548bb9d3f33c385      1
                                    ...
003128f981470c3e5a2e7445e4a771cd6      1
003128f981470c3e5a2e7445e4a771cd7      1
003128f981470c3e5a2e7445e4a771cd8      1
003128f981470c3e5a2e7445e4a771cd9      1
ProductID                             11
Length: 252, dtype: int64

In [6]:
dataset['ProductID'].describe()

count                                 32753
unique                                  252
top       002d4ea7c04739c130bb74d7e7cd16943
freq                                    955
Name: ProductID, dtype: object